.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 50px;
}

.nav__item {
  min-width: 130px;
  font-size: 23px;

  cursor: pointer;
}
