body {
    font-family: DessertScript, sans-serif;
    font-weight: 400;
    font-size: 16px;

    margin: 0;
    padding: 0;  

    background: radial-gradient(#86d0f6,#86d0f6);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.content {
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 170px;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    
    background-color: #fff;
    border-radius: 50px;
}

.nav__item {
    min-width: 130px;
    font-size: 23px;

    cursor: pointer;
}

.row {
    margin-top: 170px;
}

.broadcast {
    display: flex;
    justify-content: space-between;

    margin-bottom: 100px;
}

.card,
.card__content {
    border-radius: 20px;
}

.broadcast__card {
    font-size: 20px;
    padding-right: 20px;
}

.broadcast__media {
    padding-left: 20px;
}

.row :nth-child(2n).broadcast :nth-child(1) {
    order: 2;
}

.card {
    padding: 5px 10px;
    border: 5px solid #fff;    
}

.card__content {
    padding: 20px;

    background-color: #fff;
}

.card__item {
    display: flex;
    order: 0;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

.card__item + .card__item {
    padding-top: 20px;
}

.card__item ul {
    list-style: circle;
}

.item__time {
    max-width: 150px;
    width: 100%;
}

.media {

}

.media__container {
    min-width: 768px;
    height: 380px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000;
}

.media__title {
    padding: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4353e9;
}