// default colors
$accent: #dba22a;
$btnBg: #ffecc7;
$text: #000c3b;
$listText: #2a252c;
$white: #fff;
$titleColor: #dba22a;
$mainText: #000000;
$videoBg: #f5f5f5;
$mainTitleColor: #000C3B;

// default vars
$default-font: "Roboto", sans-serif;
$transition: 0.3s ease;
$navSize: 21px;
$containerWidth: 1680px;
$titleSize: 80px;
$mainBg: #fff;
$shadowColor: rgba(206, 201, 201, 0.815);
$textSize: 21px;
$headerTextColor: #DBA22A;
$navOpacity: 0.7;
$headerTextActive: #342F37;