// default colors
$accent: #dba22a;
$btnBg: #ffecc7;
$text: #000c3b;
$listText: #2a252c;
$white: #fff;
$mainBg: #fff;
$titleColor: #000C3B;
$headerTextColor: #DBA22A;
$headerTextActive: #000C3B;
$shadowColor: rgba(206, 201, 201, 0.815);

$containerWidth: 1680px;

$navSize: 21px;
$textSize: 21px;
$titleSize: 80px;

$transition: .3s ease;
$navOpacity: .70;
