@import "include-media";
@import "fonts";
@import "vars";
@import "libs";
@import "components/greeting";
@import "components/header";
@import "base/broadcast";
@import "base/instagram";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  background: $white;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.container {
  max-width: $containerWidth;
  padding: 0 25px;
  margin: 0 auto;
  &--shadow {
    box-shadow: 0px 2px 7px #00000029;
    border-radius: 20px;
    padding: 70px 140px;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

a,
a:focus,
a:hover,
a:active {
  color: $text;
  text-decoration: none;
  transition: $transition;
  &:hover {
    opacity: 0.7;
  }
}

ul,
ol {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.df-row {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.content {
  padding-top: 170px;
}

.base-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

.accent {
  color: $accent;
}
