@import "include-media";
@import "fonts";
@import "vars";
@import "libs";
@import "components/greeting";
@import "components/header";
@import "base/broadcast";
@import "base/instagram";

::placeholder {
  color: #666;
}

::selection {
  background-color: transparent;
}

.wrapper {
  background: transparent;
}

body {
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  background: $white;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: $containerWidth;
  padding: 0 45px;
  margin: 0 auto;
  &--shadow {
    box-shadow: 0px 2px 7px #00000029;
    border-radius: 20px;
    padding: 70px 140px;
  }
}

.wrapper {
  position: relative;
}

.main {
  padding-top: 160px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  transition: $transition;
  &:hover {
    opacity: 0.7;
  }
}

ul,
ol {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

label {
  margin-bottom: 0;
}

.df-row {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.content {
  padding-top: 170px;
}

.base-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

.accent {
  color: $accent;
}

.footer {
  padding-bottom: 40px;
  .anchor-section {
    width: 100%;
    background-color: $btnBg;
    border-radius: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      color: $accent;
      font-size: 33px;
      img {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    padding: 0;
    margin: 0 45px;
  }
  .container--shadow {
    padding: 30px 50px;
  }
}

@media (max-width: 1280px) {
  .video0-dimensions {
    width: 100%;
  }
  .video-js .vjs-tech {
    object-fit: cover;
  }
  .broadcast {
    &__title {
      padding-bottom: 40px;
    }
  }
  .part {
    flex-wrap: wrap;
    &__media {
      width: 100%;
    }
    &__item {
      font-size: 18px;
      line-height: 1.4;
    }
    &__info {
      padding-bottom: 20px;
    }
  }
  .part + .part {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .instagram .row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 100px;
  }
  .video0-dimensions {
    height: 300px;
  }
  .instagram {
    &__subtitle {
      padding-bottom: 20px;
    }
    &__btn {
      font-size: 14px;
      padding: 10px 20px;
      img {
        width: 14px;
      }
    }
    .row {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .base-title {
    font-size: 18px;
  }
  .instagram__title .base-title {
    line-height: 1.4;
  }
  .container--shadow {
    padding: 15px 30px;
  }
  .footer {
    .anchor-section {
      a {
        height: 80px;
        font-size: 20px;
        img {
          width: 26px;
        }
      }
    }
  }
}
