@import "../vars";
$radius: 10px;

.broadcast {
  &__wrapper {
    padding-bottom: 30px;
  }
  &__title {
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .content-wrapper {
    .part__info {
      max-width: 700px;
    }
  }
}

.part {
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 16px;
    font-weight: 900;
    color: $titleColor;
    padding-bottom: 30px;
  }
  &__item {
    font-size: 21px;
    line-height: 29px;
    color: $listText;
    margin-bottom: 10px;
  }
  &__info {
    padding-right: 20px;
  }
  &__media {
    display: flex;
    justify-content: flex-end;
    .video-js {
      border-radius: $radius;
    }
    .vjs-has-started .vjs-control-bar {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .video0-dimensions {
      background-color: $videoBg;
    }
    .video-js .vjs-tech {
      border-radius: 20px;
    }
  }
}

.part + .part {
  margin-top: 90px;
}
